.dockerignore
.editorconfig
.env
.git
.gitignore
.github
.idea
.vscode
biome.json
CHANGELOG.md
compose.yaml
coverage*
data
dist
docker-compose*
Dockerfile*
eslint.config.js
frontend/.react-router
frontend/build
frontend/node_modules
helm-charts
images
LICENSE
Makefile
node_modules
plan.md
prettier.config.js
README.md
renovate.json
SECURITY.md
tests
*.log
*.tsbuildinfo
